streamlit==1.46.0 #开源python库，构建交互式web应用
openai==1.58.0 #OpenAI官方Python库，提供与OpenAI API交互的功能
chromadb==0.3.24 #ChromaDB官方Python库，向量数据库  
langchain==0.3.26   #LangChain官方Python库，提供与LangChain交互的功能
langchain-chroma==0.2.4 #LangChain Chroma模块，提供与ChromaDB交互的功能
langchain-community==0.3.27 #LangChain 社区模块，提供社区模块
langchain-core==0.3.79 #LangChain 核心模块
langchain-deepseek==0.1.3   #LangChain DeepSeek模块，提供与DeepSeek交互的功能
langchain-openai==0.3.19    #LangChain OpenAI模块，提供与chatgpt交互的功能
langchain-huggingface==0.3.1 #能够通过 LangChain 框架轻松调用 Hugging Face 平台上数以万计的开源模型
python-dotenv==1.1.0 # 是一个零依赖的 Python 库，专门用于将 .env 文件中的环境变量加载到 Python 的 os.environ 中
pypdf==5.6.1 # 用于处理 PDF 文件的 Python 库
dashscope==1.23.5 # 千问模型官方 Python 库
tenacity==9.1.2 # 用于处理重试逻辑的 Python 库
transformers==4.57.1 # 本地加载嵌入模型依赖
sentence-transformers==5.1.2  # 本地加载嵌入模型依赖
torch==2.9.0  # 本地加载嵌入模型依赖